<div id="nav-bar">
    <div id="amazon-logo">
      <div id="icon">
        <!-- <img src="../images/AMZN-e9f942e4-removebg-preview.png" alt=""> -->
      </div>
      <div id="amzn">
        <!-- <img src="../images/amazon-logo-1024x683-removebg-preview.png" alt=""> -->
      </div>
    </div>
    <div id="search">
      <input id="search-input" type="search" placeholder="Search">
    </div>
    <div id="route-link">
      <a id="pins" href="">Pins</a>
      <!-- <a id="post" href="/post">Post</a> -->
      <a id="whishlist" title="Whishlist" href=""><i class="ri-bookmark-line"></i></a>
      <a id="cart" title="cart" href=""><i class="ri-shopping-cart-fill"></i></a>
        <div id="profile-pic">
          <img src="" alt="">
        </div>
    </div>

    <div id="option">
      <i class="ri-arrow-up-s-fill"></i>
      <a href="/profile">Your Profile</a>
      <a href="/products">All Products</a>
      <a href="/cart">Cart</a>
      <a href="/pins">All Pins</a>
      <a href="/logout">Logout</a>
    </div>
  </div>