* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Aeonik";
}
body::-webkit-scrollbar {
  display: none;
}
#main::-webkit-scrollbar {
  display: none;
}
#main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: black; */
}
#nav-bar {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
  display: none;
}
.cart-btnn {
  position: absolute;
  width: 52px;
  height: 39px;
  /* background-color: red; */
  z-index: 9;
  top: 22.2%;
  right: 7%;
  text-decoration: none;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.258);
  color: rgba(0, 0, 0, 0.589);
}
.cart-btnn:focus {
  outline: rgba(0, 0, 0, 0.614) solid 5px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}
#top {
  position: relative;
  width: 100%;
  height: 62vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* background-color: red; */
  /* margin-top: 1px; */
}
#overlay {
  /* background: linear-gradient(rgb(255, 218, 184),rgb(255, 215, 112)); */
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-size: cover;
  background-position: center;
  /* background-color: black; */
}
#overlay-color {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
}
#overlay-color h1 {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.365);
  letter-spacing: 50px;
  word-spacing: 10px;
  position: relative;
  top: 45%;
  left: 73%;
  transform: translate(-50%, -50%);
}
#prof {
  position: absolute;
  left: 5%;
  top: 32%;
  width: 10%;
  height: 33%;
  background-color: red;
  z-index: 9;
  border-radius: 50%;
  border: 7px solid rgb(255, 255, 255);
  /* border: 7px solid tomato; */

  overflow: hidden;
}
#prof img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#verify {
  position: relative;
  left: 25%;
  bottom: 50%;
  width: 57%;
  height: 22%;
  align-items: center;
  background-color: rgb(210, 39, 39);
  /* background-color: blueviolet; */
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0% 20px;
  border-radius: 10px;
  align-items: center;
}
#verify p {
  /* margin-top: 10px; */
  font-size: 18px;
  font-family: "Gilroy";
  color: #fff;
  letter-spacing: 1px;
}
p a {
  color: rgb(244, 204, 151);
}
p a:hover {
  color: rgb(126, 255, 249);
}
#verify > a {
  padding: 7px 20px;
  background-color: beige;
  font-size: 18px;
  font-family: "Gilroy";
  border-radius: 5px;
  background-color: rgb(159, 21, 21);
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}
#verify > a:hover {
  text-decoration: underline;
}
#prof-info {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: rgb(237, 236, 236);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#prof-info #name {
  position: relative;
  width: 18%;
  display: flex;
  /* justify-content: space-evenly; */
  /* background-color: wheat; */
  top: 32%;
  left: 5%;
  align-items: center;
  justify-items: start;
  white-space: nowrap;
  text-transform: capitalize;
}
#prof-info #name h1 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 30px;
}
#prof-info #name h1:nth-child(2) {
  margin-left: 13px;
  font-size: 30px;
}
#add-text {
  position: relative;
  top: 22%;
  left: 5%;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
#age-text {
  position: relative;
  top: 28%;
  left: 5%;
  font-size: 18px;
  font-weight: 500;
}
#button {
  position: relative;
  width: 39%;
  height: 20%;
  /* background-color: red; */
  display: flex;
  left: 3.2%;
  top: 22%;
  justify-content: space-evenly;
  padding: 0% 10px;
  margin-top: 5px;
}
#edit {
  color: white;
  position: relative;
  width: 26%;
  height: 80%;
  background-color: tomato;
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 400;
  font-family: "Aeonik";
  letter-spacing: 1px;
}
#product {
  font-weight: 400;
  font-family: "Aeonik";
  letter-spacing: 1px;
  color: white;
  position: relative;
  width: 30%;
  height: 80%;
  background-color: rgb(195, 0, 254);
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#create {
  font-weight: 400;
  font-family: "Aeonik";
  letter-spacing: 1px;
  color: white;
  position: relative;
  width: 35%;
  height: 80%;
  background-color: #fe2fd1;
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#stolen-logo {
  position: relative;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  /* background-color: red; */
  padding-right: 50px;
  left: -8%;
}
#stolen-logo img {
  width: 150%;
  height: 110%;
  object-fit: cover;
}
#home {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
}
#home a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}
#profile {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
  margin-top: 10px;
}
#profile a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}
#product-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
  margin-top: 10px;
}
#product-link a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}

#cart-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
  margin-top: 10px;
}
#cart-link a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}
#wislist-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
  margin-top: 10px;
}
#wislist-link a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}

#logout-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(61, 61, 61, 0.92);
  width: 100%;
  height: 30px;
  /* background-color: #fe2fd1; */
  margin-left: 5px;
  margin-top: 10px;
}
#logout-link a {
  font-family: "Aeonik";
  font-weight: 500;
  color: rgba(61, 61, 61, 0.92);
  margin-left: 18px;
}
#bottom {
  position: relative;
  width: 100%;
  min-height: 72vh;
  margin-top: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(237, 237, 237);
}
#bottom h1 {
  font-family: "Aeonik";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 20px;
  margin-left: 80px;
  text-decoration: underline;
}
#bottom #product-container {
  position: relative;
  width: 94%;
  height: 74vh;
  /* background-color: red; */
  margin-top: 30px;
  margin-left: 3%;
  display: flex;
  padding-left: 60px;
  gap: 60px;
}

.cards {
  position: relative;
  width: 18vw;
  min-height: 65vh;
  /* background-color: red; */
  border-radius: 5px;
  overflow: hidden;
}
.cards .img .whislist {
  position: absolute;
  z-index: 99;
  width: 40px;
  height: 40px;
  /* background-color: blue; */
  right: 2%;
  top: 1%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .img .whislist a {
  text-decoration: none;
  color: black;
}
.cards .img .whislist i {
  position: relative;
  font-size: 30px;
}
.cards .img {
  position: relative;
  width: 100%;
  height: 49vh;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.cards .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cards .img #img1 {
  position: absolute;
  z-index: 9;
  transition: 0.3s;
  left: 0%;
}
.cards .img #img2 {
  position: absolute;
  z-index: 99;
  left: 100%;
  /* opacity: 0; */
  transition: 0.3s;
}
.cards .img #img3 {
  position: absolute;
  z-index: 999;
  left: 100%;
  /* opacity: 0; */
  transition: 0.3s;
}
.cards .img #img4 {
  position: absolute;
  z-index: 999;
  /* opacity: 0; */
  left: 100%;
  transition: 0.3s;
}
.product-name {
  position: relative;
  width: 100%;
  height: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  font-family: "Aeonik";
  margin-top: 8px;
  padding-left: 5px;
}
.description {
  position: relative;
  width: 100%;
  min-height: 2px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  font-family: "Aeonik";
  padding-left: 5px;
  font-size: 17px;
  flex-wrap: wrap;
  line-height: 15px;
  /* background-color: blue; */
}
.price {
  position: relative;
  width: 100%;
  height: 25px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: "Aeonik";
  padding: 0 5px;
  padding-top: 5px;
  margin-top: -5px;
  font-weight: 500;
}
.button {
  position: relative;
  width: 100%;
  height: 45px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: flex-end;
  margin-top: 5px;
}
.button a {
  padding: 4px 14px;
  background-color: tomato;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button a h5 {
  margin-top: 2px;
}
.button a:nth-child(2) {
  padding: 4px 12px;
  margin-left: 10px;
}
.offcanvas-body::-webkit-scrollbar {
  display: none;
}
#cart-cards {
  position: relative;
  width: 100%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.575);
  border-radius: 10px;
  margin-top: 20px;
  /* gap: 20px; */
}
#cart-cards #img-box {
  position: relative;
  width: 32%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart-cards #img-box #image {
  position: relative;
  width: 85%;
  height: 83%;
  border-radius: 10px;
  border: 1px solid black;
  /* background-color: red; */
  overflow: hidden;
  padding: 5px 5px;
}
#cart-cards #img-box #image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
#cart-cards #content-box {
  position: relative;
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  padding-top: 15px;
  /* background-color: #fe2fd1; */
}
#cart-cards #content-box .productName {
  position: relative;
  width: 90%;
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
}
.productName h4 {
  font-size: 20px;
  letter-spacing: 1px;
}
#cart-cards #content-box .productDesc {
  position: relative;
  width: 90%;
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  min-height: 5px;
  line-height: 17px;
  margin-top: 2px;
}
#cart-cards #content-box .productDesc p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(36, 36, 36);
}
#cart-cards #content-box .productPrice {
  padding-right: 20px;
  position: relative;
  width: 90%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
  height: 25px;
  text-align: center;
  margin-top: 10px;
}
#cart-cards #content-box .productPrice p {
  font-weight: 500;
  margin-top: 5px;
  text-decoration: underline;
}
#cart-cards #content-box .productPrice p:nth-child(2) {
  color: tomato;
  text-decoration: line-through;
  font-size: 17px;
  padding: 1px 8px;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 10px;
}
#cart-cards #content-box .productButton {
  position: relative;
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 17px;
}
#buy-btn {
  position: relative;
  padding: 5px 10px;
  background-color: blue;
  font-size: 17px;
  text-decoration: none;
  color: white;
  font-family: "Aeonik";
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 500;
}
#whishlist-btn {
  position: relative;
  padding: 5px 10px;
  background-color: tomato;
  font-size: 17px;
  text-decoration: none;
  color: white;
  font-family: "Aeonik";
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: 10px;
}
#delete-cart {
  position: relative;
  padding: 1px 8px;
  /* background-color: rgb(255, 246, 244); */
  font-size: 20px;
  text-decoration: none;
  /* color: white; */
  color: rgba(0, 0, 0, 0.603);
  font-family: "Aeonik";
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: 60px;
  border-radius: 0%;
  border: 0.4px solid rgba(0, 0, 0, 0.235);
  font-weight: 700;
  border-radius: 5px;
}
