* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body {
    width: 100%;
    height: 100%;
  }
  #main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  #left {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgb(11, 15, 36);
  }
  #left #img{
      position: relative;
      top: 15%;
      left: 20%;
      width: 13%;
      height: 13%;
      /* background-color: red; */
      /* box-shadow: 10px 10px 10px 10px blue; */
  }
  #img img{
      width: 100%;
      height: 100%;
      opacity: .9;
  }
  #left h1{
      position: relative;
      font-family: "Aeonik";
      color: white;
      top: 17%;
      left: 22%;
      /* background-color: red; */
      width: 50%;
      font-weight: 500;
      letter-spacing: 1px;
  }
  #left p{
      position: relative;
      font-family: "Aeonik";
      color: rgba(255, 255, 255, 0.484);
      top: 20%;
      left: 22%;
      line-height: 24px;
  }
  #left p:nth-child(4){
      margin-top: 30px;
  }
  #left a{
      position: relative;
      font-family: "Aeonik";
      text-decoration: none;
      color: rgba(169, 83, 249, 0.861);
      top: 30%;
      left: 22%;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 1px;
  }
  #right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgb(11, 15, 36);
    /* border-left: 0.3px solid rgba(255, 255, 255, 0.142); */
    box-shadow: -50px 0px 20px 0px rgb(2, 2, 25);
  }
  #right #img{
      position: relative;
      top: 10%;
      left: 12%;
      width: 20%;
      height: 20%;
      transform: rotate(-50deg);
      /* background-color: red; */
      /* box-shadow: 10px 10px 10px 10px blue; */
  }
  #img img{
      width: 100%;
      height: 100%;
  }
  #right h1{
      position: relative;
      font-family: "Aeonik";
      color: white;
      top: 10%;
      left: 15%;
      /* background-color: red; */
      width: 50%;
      font-weight: 500;
      letter-spacing: 1px;
  }
  form{
      position: relative;
      top: 15%;
      left: 15%;
      width: 45%;
      height: 30%;
      /* background-color: red; */
  }
  #password{
      position: relative;
      width: 100%;
      height: 25%;
      background-color: rgba(48, 49, 57, 0.285); 
      padding: 0% 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 2px solid rgba(184, 16, 251, 0.756);
  }
  label{
      font-family: "Aeonik";
      color: rgba(184, 16, 251, 0.753);
      font-size: 15px;
      letter-spacing: 1px;  
      margin-top: 5px; 
  }
  input{
      position: relative;
      width: 100%;
      height: 32px;
      border: none;
      background: none;
      outline: none;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.537);
  }
  #cnfrmpassword{
      position: relative;
      width: 100%;
      height: 24%;
      background-color: rgba(48, 49, 57, 0.285); 
      padding: 0% 15px;
      margin-top: 30px;
      color: rgba(255, 255, 255, 0.537);
      font-family: "Aeonik";
      letter-spacing: 1px;
  }
  #btn{
      position: relative;
      font-family: "Aeonik";
      font-size: 19px;
      width: 52%;
      height: 45px;
      background-color: rgba(137, 43, 226, 0.861);
      color: rgba(255, 255, 255, 0.884);
      border-radius: 25px;
      margin-top: 30px;
  }
  #right a{
      position: relative;
      font-family: "Aeonik";
      font-size: 16px;
      text-decoration: none;
      word-spacing: -1px;
      left: 46%;
      top: 8.3%;
      font-weight: 500;
      color: rgba(169, 83, 249, 0.861);
      letter-spacing: 0.3px;
  }
  #right a:hover{
      color: rgba(137, 43, 226, 0.861);
      text-decoration: underline;
  }